body {
    /* Viewport height */
    margin: 0; /* Remove default margin */
    position: relative;
    box-sizing: border-box;
    background-color: #f8bcf8
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.darkm{
    background-color: rgb(37, 24, 37);
    color:white;
}

.sidebar{
    min-height: 100vh;
}
.inner-list{
    position:relative;
 z-index: 9999;
 right:100%;
}
.inner-list li{
    position:relative;
    overflow: hidden;
   

}

#instructions{
    font-family: Comfortaa;
}
.area-h{
    height:60%;
}
.loader{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
}
.hidd{
display: none;
height: 0;
}
.text-position{
    
    position:absolute;
    top:100%;
   /* left:-100%;*/
 /*   transform:translateY(-100%);*/

}


.layer{
    position:absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
   background-color: rgba(255, 255, 255, 0.735);
   color:black;
   transition: all .6s;
}
.layer-dark{
    background-color: rgba(27, 25, 25, 0.735);
   color:rgb(249, 245, 245);
}
.parent:hover .layer{
    top:0;

}
li:hover{
    cursor: pointer;

}
i:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}

.head{
    background-color: aliceblue;
    position: fixed;
    z-index: 9999;
    top:0;
    bottom:0;
    height: 100%;
    width: min-content;
    font-family: Comfortaa;
   
}
.head::after {
    content: "";
    position: absolute;
    right: -1px; /* Aligns with the right border of .head */
    top: 0;
    bottom: 0;
    width: 5px; /* Width of the shadow */
    background: linear-gradient(to right, transparent, rgba(255, 138, 237, 0.671)); 
}
.head-dark{
    background-color: rgb(21, 24, 27);
    color: white;
}
/*.custom-focus-effect:focus {
    outline: none; 
    box-shadow:none;
    border: rgb(59, 58, 58);
}*/
.custom-invalid {
    outline: none; /* Removes the default outline */
    border-color: #ff80ff; /* Changes the border color */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5); 
}
.custom-valid {
    outline: none; /* Removes the default outline */
    border-color: #8fff80; /* Changes the border color */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(100, 255, 110, 0.5); /* Adds a custom shadow */
}
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }
/*
#search{
transform:translateY(100%);
opacity:0;
}

#category{
    transform:translateY(100%);
    opacity:0;
    }*/